@font-face {
  font-family: 'Myriad Pro';
  src: url("../../assets/fonts/MyriadProRegular.ttf");
}

@font-face {
  font-family: 'Myriad Pro';
  font-weight: bold;
  src: url("../../assets/fonts/MyriadProSemibold.ttf");
}