.header{
	height: 80px;
	display: flex;
	background: #444444;

	&__container{
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}

	&__logo-link{
		width: 120px;
	}

	&__link{
		background: none;
		border: none;
		padding: 10px 25px;
		color: #A9AEB8;
		font-size: 14px;
		transition: all .3s ease;

		&:hover{
			color: #fff;
		}

		&--is-active{
			background: #C70042;
			color: #fff;
		}
	}
}