.pagination{
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;

	@include atSmall{
		width: 360px;
	}

	&__list{
		padding: 15px 0;
	}
	
	&__item{
		padding: 0 5px;

		@include atSmall{
			padding: 23px 15px;	
		}
	}

	&__link{
		color: #505458;
		border: none;
		transition: all .3s ease;
		background: none;

		&:hover{
			text-decoration: none;
			color: #EB3B5A;
		}

		&--is-active{
			color: #EB3B5A;
		}
	}

}