.approval{
	padding: 25px 0;
	margin: 0 auto 20px;
	width: 300px;

	@include atSmall{
		margin: 0 auto 30px;
	}

	@include atMedium{
		border-radius: 10px;
		border: 1px solid rgba(0,0,0,0.1);
	}

	&__info{
		width: 50%;
		margin: 0 auto;

		p{
			margin: 0 auto;
		}
	}

	&__from{
		color: $mainGrey;
	}

	&__confirmations{
		display: flex;
		justify-content: space-around;
		text-align: center;
		margin-top: 15px;
	}

	&__btn{
		padding: 7px 0;
		min-width: 120px;
		font-size: 14px;
		transition: all .3s ease;

		&:hover{
			color: $mainBlack;
		}
	}

	&--btn-cancel{
		background: #FFF5F6;
		color: #FF3750;
	}

	&--btn-accept{
		background: #F4FCFA;
		color: #22CDA7;
	}
}