.requests{
	padding: 55px 38px 55px 45px;
	border-right: 1px solid rgba(0,0,0,0.05);
	height: 1047px;
	overflow: hidden;

	&__title{
		font-size: 40px;
		color: $mainGrey;
	}

	&__container{
		margin-top: 55px;
	}
}